<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MySearch"
            android:exported="false" />
        <activity
            android:name=".MyAuto"
            android:exported="false" />
        <activity
            android:name=".MyAlert"
            android:exported="false" />
        <activity
            android:name=".MySpinner"
            android:exported="false" />
        <activity
            android:name=".MyRating"
            android:exported="false" />
        <activity
            android:name=".MyRadio"
            android:exported="false" />
        <activity
            android:name=".MyCheck"
            android:exported="false" />
        <activity
            android:name=".MyEmail"
            android:exported="false" />
        <activity
            android:name=".MyIntent"
            android:exported="false" />
        <activity
            android:name=".MyContext"
            android:exported="false" />
        <activity
            android:name=".MyOption"
            android:exported="false" />
        <activity
            android:name=".MyWeb"
            android:exported="false" />
        <activity
            android:name=".MyGrid"
            android:exported="false" />
        <activity
            android:name=".MyList"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>